---
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Page Not Found" description="Goto /">
  <div
    class="container"
    style={{
      display: "grid",
      placeItems: "center",
      textAlign: "center",
      gap: "var(--space-sm)",
    }}
  >
    <h1 class="h1">OOPS, THIS IS AWKWARD!</h1>
    <p>We seem to have misplaced somthing...</p>
    <Link
      href="/"
      style="secondary"
      text="Go home"
      icon={{
        name: "homeLogo",
        side: "right",
      }}
    />
  </div>
</MainLayout>
