---
// libraries imports
import { Icon } from "astro-icon/components";

//data imports
import navData from "../data/navData.ts";
import Link from "./Link.astro";
---

<nav aria-label="Primary">
  <div class="navbar">
    <a href="/" class="logomark" aria-label="Go home">
      <Icon name="logomark" size="30px" />
    </a>
    <ul>
      {
        navData.map((item) => (
          <Link
            text={item.name}
            href={item.path}
            style="primary"
            isFilled={false}
            data-navLink
          />
        ))
      }
    </ul>
  </div>
</nav>

<script>
  import "../ts/nav.ts";
</script>
